MatrixPilot/nbproject/private/private.xml
tags

# Object files
*.o
*.o.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.map

# build
libUDB/fixDeps.h
build/
MatrixPilot/MatrixPilot-udb5.X/
MatrixPilot/nbproject/
MatrixPilot-udb5.X/
MatrixPilot/Makefile
MatrixPilot/dist
MatrixPilot/log

# test
googletest-master/

# Debug files
*.dSYM/

#Python
*.pyc

#mplab
*.mcw

*.html

#qtcreator project
MatrixPilot.files
MatrixPilot.includes

# doc build
doc/build/

# coverage
*.gcno
*.gcda
