# Object files
*.o
*.o.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.map
build/

# Debug files
*.dSYM/

#Python
*.pyc

#mplab
*.mcw

*.html

libUDB/fixDeps.h

#qtcreator project
MatrixPilot.files
MatrixPilot.includes

# doc build
doc/build/*
