mypy==0.750
sphinx==2.*
flake8==3.*
pytest==5.*
ipython
sphinx-autodoc-typehints
sphinx_rtd_theme
autopep8
flake8-docstrings
flake8-bugbear
flake8-commas
pydocstyle
pylint
pudb
black
isort
pytest-pudb
pytest-cov
cython
versioneer
